li{
	text-align: center;
}
.data1{
    background-color:#00e676;   
}

.data2{
    background-color:#ffea00;
}

.data3{
    background-color:#ff9100;
}

.data4{
    background-color:#CC0000;
    }
label{
	font-family: 'Raleway', sans-serif;
	color: #ff7043;
}



#arrow1 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow2 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow3 {
    width: 30px;
    height: 38px;
    position: absolute; 
}


#arrow4 {
    width: 30px;
    height: 38px;
    position: absolute; 
}


#arrow5 {
    width: 30px;
    height: 38px;
    position: absolute; 
}


#arrow6 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow7 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow8 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow9 {
    width: 30px;
    height: 38px;
    position: absolute; 
}


#arrow10 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow11 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow12 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow13 {
    width: 30px;
    height: 38px;
    position: absolute; 
}

#arrow14 {
    width: 30px;
    height: 38px;
    position: absolute; 
}
